* {
  box-sizing: border-box;
}

.loading-error {
  color: #521313;
  background-color: #fac0c0;
  font-size: 24px;
  padding: 15px;
}

.container {
  display: flex;
}

.countries,
.selected-country {
  width: 50%;
  padding: 10px;
}

.country {
  font-size: 24px;
  padding: 3px 10px;
  cursor: pointer;
}

.country.selected {
  background-color: #dadada;
  cursor: default;
}

.borders li {
  font-size: 20px;
}

table {
  font-size: 20px;
  border-collapse: collapse;
}

td,
th {
  padding: 3px 10px;
  border: 1px solid #dadada;
}
